* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Chinese Quote", Tahoma, SansSerif, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.6;
}
.disabled-input {
  user-select: none;
  pointer-events: none;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.65) !important;
}
.hidden {
  display: none !important;
}

/* React Table - begin */
.rt-th:focus {
  outline: none !important;
}

.rt-th.rt-resizable-header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rt-td {
  padding-left: 15px !important;
}
/* React Table - end */

/* Antd design - begin */

.ant-form-explain {
  font-size: 12px;
}

.ant-row.ant-form-item {
  margin-bottom: 5px;
}

.ant-pagination-options-size-changer.ant-select {
  margin-right: 0;
}

.ant-input-disabled,
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  cursor: default;
}

.ant-form-item-label label:after {
  margin: 0 15px 0 2px;
}

.ant-calendar-picker {
  width: 100%;
}

.ant-upload.ant-upload-select-picture-card {
  margin-right: 0;
  margin-bottom: 0;
}

.ant-form-item-children {
  display: block;
}

.ant-upload.ant-upload-drag {
  background-color: #f5f5f5;
}

.ant-tabs-content {
  background-color: white;
  padding: 10px 20px 20px;
  border: 1px solid #d6d6d6;
  border-top: none;
  border-radius: 0 6px 6px 6px;
}

.ant-tabs-bar {
  margin: 0;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-radius: 6px 6px 0 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 250px;
  text-align: center;
}

.ant-tabs-tab {
  color: rgba(0, 0, 0, 0.7);
}
/* Antd design - end */
